<div class="container mt-4">
    <h1>forms for practice</h1>
    <form>
        <div class="form-group">
            <label for="name">name:</label>
            <input type="text" class="form-control" name="name" id="name" required>
        </div>

        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" name="name" id="alterEgo" required>
        </div>

        <div class="form-group mt-4">
                <select class="form-control" id="power" required>
                    <option *ngFor="let pow of powers" value="pow">{{pow}}</option>
                </select>
        </div>

        <button class="btn btn-success mt-4">Submit</button>
    </form>
</div>
